@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  overflow-x: hidden;
}

.active {
  color: #0E6BA8 !important;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

div,
ul,
li,
input,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
main,
section,
nav,
button,
header,
footer,
img,
body {
  /* line-height: normal; */
  padding: 0;
  margin: 0;
}

section {
  width: 100vw;
}

.header-section {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1128px;
}

.header-logo {
  width: fit-content;
}

.header-logo img {
  width: 20%;
}

.main-div {
  margin: 0 auto;
  max-width: 424px;
  width: 100%;
}

.intro-text h2 {
  color: #393938;
  font-weight: 600;
  font-size: 32px;
}

.intro-text p {
  color: #7B7B7A;
  font-size: 20px;
}

form label {
  color: #393938b6;
  font-size: 14px;
}

.form-item-container {
  margin-top: 23px;
}

.form-control {
  caret-color: #0a2472a9;
  border-radius: 8px;
}



.submit-container {
  margin-top: 35px;
  /* border: 1px solid black; */
}
.submit-container button {
  width: 100%;
  color: #fff;
  border-radius: 9px;
  background-color: #0A2472;
 }
.submit-container button:hover {
  color: #fff;
  background-color: #0d33a2e3;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.divider::before {
  content: '';
  display: block;
  width: 46%;
  height: 1px;
  background-color: #3939387f;
}
.divider::after {
  content: '';
  display: block;
  width: 46%;
  height: 1px;
  background-color: #3939387f;
}

/* SERVICE PROVIDER */
.serviceProviderContainer {
  display: flex;
  flex-direction: column;
}
.serviceProvider-btn-container {
  display: flex;
  flex-direction: column;
  margin: 37px 0;
}

.serviceProvider-btn-container button {
  background-color: #FFFFFF;
  border: 1px solid #5A5A59;
  border-radius: 9px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.alreadyAccount {
  text-align: center;
  font-weight: 400;
}
.alreadyAccount a {
  text-decoration: none;
  color: #0A2472;
  font-weight: 600;
}