@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  overflow-x: hidden;
}

.active {
  color: #0E6BA8 !important;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --clr-text: black;
  --clr-bg: white;
  --first-blue: #0E6BA8
}

div,
ul,
li,
input,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
main,
section,
nav,
button,
header,
footer,
img,
body {
  /* line-height: normal; */
  padding: 0;
  margin: 0;
}


.cf-first-section-main-container {
  overflow-x: hidden;
}

header {
  width: 100vw;
}
nav {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.navbar-brand {
  width: 20%;
  /* border: 1px solid black; */
}
.navbar-brand img {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 40%;
    /* border: 1px solid black; */
  }
  .navbar-brand img {
    width: 100%;
  }  
}
.nav-link {
  color: #000;
}
.cf-btn {
  border-radius: 11px;
  padding-left: 27px;
  padding-right: 27px;
  box-shadow: 3px 3px 7px .2px rgba(0, 0, 0, 0.1);
}

.cf-first-section-header-btn-container {
  margin-left: 14px;
}
.signInBtn {
  border: 1px solid transparent;
  background-color: var(--first-blue);
  color: #CAF0F8;
}
.loginBtn {
  color: var(--first-blue);
  border: 1px solid var(--first-blue);
  cursor: pointer;
  background: #fff;
}
.menu-display-btn {
  font-size: 40px;
}
@media (max-width: 900px) {
  nav {
    margin: 0 auto;
    width: 98vw;
  }  
}
@media (max-width: 598px) {
  nav {
    margin: 0 auto;
    max-width: 1191px;
    width: 100%;
  }
}

.video-collection-section {
  display: block;
  background-color: #030C26;
  color: #fff;
  text-align: center;
}

.video-collection-section-text h2 {
  font-size: 29px;
  font-weight: 600;
}

.video-collection-section-video-tabs {
  max-width: 1110px;
  margin: 0 auto;
  /* border: 1px solid white; */
}

.video-collection-section-video-tabs-flex-container {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 40px 0;
  grid-template-columns: 300px 300px 300px;
}

.video-collection-section-video-tabs-items {
  /* border: 1px solid white; */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  height: 60vh;
}


@media (max-width: 900px) {
  .video-collection-section-text h2 {
    font-size: 24px;
    font-weight: 500;
  }
  
  .video-collection-section-video-tabs {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .video-collection-section-video-tabs-flex-container {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 40px 0;
    grid-template-columns: 290px 290px;
  }
  
  .video-collection-section-video-tabs-items {
    height: 50vh;
  }
}
@media (max-width: 600px) {
  .video-collection-section-text h2 {
    font-size: 24px;
    font-weight: 500;
  }
  
  .video-collection-section-video-tabs {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .video-collection-section-video-tabs-flex-container {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 40px 0;
    grid-template-columns:290px;
  }
  
  .video-collection-section-video-tabs-items {
    height: 60vh;
  }
}

.video-tab-image-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.video-tab-image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bottom-nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav-section-pagination {
  width: fit-content;
}
.pagination>li.active>a {
  border: 1px solid transparent !important;
  background-color: #030C26 !important;
}
.pagination>li>a {
  color: #030C26;
  background-color: #CAF0F8 !important;
}

.pagination>li>a:hover {
  color: #030c26bc;
}